@model List<Haocheng_Zhao.ClientInfoSystem.ApplicationCore.Model.InteractionResponseModel>;

<div class="container-fluid">
    <a class="btn btn-success position-sticky" asp-controller="Interaction" asp-action="AddInteraction">Add New Interaction</a>

    <partial name="_InteractionsPartial" model="Model" />
</div>
