@model List<Haocheng_Zhao.ClientInfoSystem.ApplicationCore.Model.InteractionResponseModel>;


<a asp-controller="Interaction" asp-action="AddInteraction">Add New Interaction</a>

<partial name="_InteractionsPartial"  model="Model"/>


