@model Haocheng_Zhao.ClientInfoSystem.ApplicationCore.Model.ClientResponseModel;

    <div class="container-fluid">
        <h1 class="text-black-50">Interactiosn for Client @Model.Name</h1>

        <partial name="_InteractionsPartial" model="@Model.InteractionModels"/>


    </div>
